/* Shared Page CSS */
.page-header {
  display: flex;
  padding: 40px;
}

/* Big Nav Link  Component */
.big-nav-link {
  padding: 0;
  color: black;
  transition: 0.6s ease;
}

.big-nav-link span {
  z-index: 2;
}

.big-nav-link:after {
  content: "";
  top: 0;
  left: 0;
  width: 0;
  height: 70px;
  background-image: url("../assets/images/right\ arrow.png");
  filter: brightness(0) invert(1);
  transition: all 0.6s;
}

.big-nav-link:hover {
  color: rgb(255, 255, 255);
  background-color: black;
}

.big-nav-link:hover:after {
  width: 10%;
}

/* JobDescription Component */
.job-title {
  font-family: coolvetica;
  margin-bottom: 15px;
  margin-top: 10px;
}

.job-tech-item {
  white-space: nowrap;
  background-color: rgb(95, 129, 189);
  color: white;
  margin-right: 10px;
  padding-top: 5px;
  padding-bottom: 6px;
  padding-left: 15px;
  padding-right: 15px;
  border-radius: 25px;
  transition: 0.6s;
}

.job-tech-item:hover {
  background-color: rgb(59, 105, 185);
  transform: scale(1.2);
}

.job-point {
  margin-top: 15px;
  margin-bottom: 0px;
}

/* Contact Component */
.contact-page-div {
  height: 90%;
}
.email-form {
  font-family: coolvetica;
  background-color: rgb(255, 255, 255);
  color: rgb(0, 0, 0);
  padding: 40px;
  margin: 20px;
  border-radius: 10px;
  height: 100%;
  position: relative;
}

.form-label {
  font-size: 2em;
  padding-right: 30px;
  margin-top: 20px;
}

.form-input {
  border-top: black 3px;
  border-left: black 3px;
  border-right: black 3px;
  width: 100%;
}

textarea {
  width: 100%;
  height: 40%;
  border-radius: 5px;
  min-height: 300px;
}

.form-submit-button {
  background-color: black;
  color: white;
  font-size: 2em;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 40px;
  padding-right: 40px;
  border-radius: 8px;
  border: rgb(0, 0, 0) solid 3px;
  transition: 0.6s ease;
  position: relative;
  float: right;
  margin-top: 40px;
}

.form-submit-button:hover {
  color: black;
  background-color: white;
}

/* ProjectCardPage Component */
.project-cards-div-container {
  margin-left: 40px;
}
.project-cards-div {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  align-content: space-around;
}

/* ProjectCard Component */
.project-card-div {
  position: relative;
  color: black;
  background-color: white;
  display: flexbox;
  height: 370px;
  width: 300px;
  padding: 20px;
  transition: 0.6s;
  border: 5px solid black;
  margin: 20px;
}

.project-card-div:hover {
  color: white;
  background-color: black;
}

.project-card-div:hover .card-github-icon {
  filter: invert(1);
}

.card-title {
  font-family: coolvetica;
  font-size: 2em;
}

.card-description {
  font-family: coolvetica;
}

.card-icon-text {
  font-family: coolvetica;
  font-size: 1em;
  color: white;
  text-decoration: none;
  position: absolute;
  bottom: 0px;
  right: 40px;
  transition: 0.6s ease-in-out;
  filter: opacity(0);
}

.card-github-icon {
  height: 40px;
  filter: invert(0);
  transition: 0.6s;
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 2;
}

.card-github-icon:hover {
  transform: scale(1.2);
}

.card-github-icon:hover ~ .card-icon-text {
  right: 60px;
  filter: opacity(1);
}
