@font-face {
  font-family: "lemonmilk";
  src: local("LEMONMILK-Regular"), url("./assets/fonts/LEMONMILK-Regular.otf");
}

@font-face {
  font-family: "coolvetica";
  src: local("coolvetica"), url("./assets/fonts/coolvetica.ttf");
}

@font-face {
  font-family: "cocogoose";
  src:
    local("Cocogoose\ Pro-trial"),
    url("./assets/fonts/Cocogoose\ Pro-trial.ttf");
}

@font-face {
  font-family: "bebas";
  src: local("BebasNeue-Regular"), url("./assets/fonts/BebasNeue-Regular.ttf");
}
